@font-face 
	font-family: 'Computer Modern Serif'
	src: url('../fonts/cmunrm.woff') format('woff'),
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'Computer Modern Serif'
	src: url('../fonts/cmunbx.woff') format('woff')
	font-weight: bold
	font-style: normal
